<h1><%= @company.name %> | Financials</h1>

<table>
	<tr>
		<th>Year</th>
		<th>Month</th>
		<th>Revenue</th>
		<th>Commentary</th>
		<th></th>
	</tr>
	<% @financial.each do |f| %>
	<tr>
		<td><%= f.period.year %></td>
		<td><%= f.period.month %></td>
		<td><%= f.revenue %></td>
		<td><%= f.income_commentary %></td>
		<td><%= link_to 'Edit', edit_company_financial_path(@company,f) %> | 
				<%= link_to 'Show', company_financial_path(@company,f) %>
		</td>
	</tr>
	<% end %>
</table>

<br />
<%= link_to 'Add Financial Data', new_company_financial_path(@company) %>

<br />
<%= link_to "Back to #{@company.name}", company_path(@company) %>
